<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header') %>
</head>
<body>
  <%- include('nav') %>

  <%- include('search') %>

  <div class="container p-3">
    <%- include('tv_show') %>
  </div>

  <script src="/js/search.js"></script>
  <%- include('footer') %>
</body>
</html>